@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');

h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

p, label {
    font-family: 'Montserrat', sans-serif;
}

form {
    width: 30%;
    text-align: center;
    padding: 3%;
    border: 3px solid #55627c;
    border-radius: 25%;
    background-color: #7e92b9;
}

label, input, select {
    margin: 2%;
    font-size: 1.5rem;
}
