h1 {
    text-align: center;
}

form {
    text-align: center;
    padding: 3%;
    border: 3px solid darkgrey;
    border-radius: 25%;
    background-color: grey
}

label, input, select {
    padding: 2%;
}
